.carousel-root {
  position: relative;
  height: 100%;
}
.carousel-slider {
  height: 100%;
}
.carousel .carousel-status {
  display: none;
}

.carousel .thumbs-wrapper {
  display: none;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-transform: uppercase;
}

.slide-content p{
    font-family: 'Oswald', sans-serif;
}

.button-row button{
    text-transform: uppercase;
    margin: 0 0.5rem;
}

.orng-btn {
  background-color: #ff4500;
}
