.registration-form-section .container {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.registration-form-section .container .form-side-image {
  height: 100%;
  position: relative;
}

.registration-form-section .container .form-side-image img {
  position: relative;
  width: 100%;
}

.registration-form-section .container .registration-form-container {
  position: relative;
  background-color: rgb(24 24 27);
}

#register-form {
  width: 100%;
  padding: 1rem;
}

#register-form .form-group {
  padding-bottom: 18px;
  position: relative;
  margin: 10px 5px;
}

#register-form .form-group label {
  color: white;
  text-transform: uppercase;
}

#register-form .form-group .form-input {
  height: 48px;
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
}

#gender-control {
  height: 42px;
  width: 240px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.plan-input {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.plan-input:checked {
  background-color: orangered;
  border-color: orangered;
}

#register-form .form-btn #register-btn {
  background-color: orangered;
  color: white;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.plan-details p span {
  color: orangered;
}

.error-message {
  color: rgb(255, 0, 0);
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1280px) {
  .form-side-image {
    display: none;
  }
}

@media screen and (max-width: 574px) {
  .reg-form-row,
  .plan-selector {
    flex-direction: column;
  }
}
