/* Styles for the 'about' section */
.about {
  padding: 2rem 0;
}

.about-row .about-col {
  margin: 10px;
  padding: 1rem;
}

.about-row #img-col {
  width: 40%;
}

.about-row #content-col {
  width: 60%;
}

/* Styles for the 'memberships' section */
.membrshp-row .membrshp-col {
  height: 360px;
  width: 340px;
  padding: 1rem;
  margin: 1.2rem;
  border-radius: 6px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 0px 10px rgb(77, 77, 77);
  transition: all 0.4s ease-in;
}

.memberships .container .heading {
  margin-bottom: 2rem;
}

.membrshp-col .membrshp-title h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.membrshp-col span {
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
}

/* Media queries for responsive design */
@media screen and (max-width: 1024px) {
  /* Adjust layout for smaller screens */
  .about-row {
    flex-direction: column;
  }

  .about-row .about-col {
    width: 100% !important;
  }

  .about-col .col-img img {
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 1280px) {
  /* Adjust styling for screens up to 1280px width */
  .membrshp-col {
    scale: 1 !important;
  }
}
