.header{
    height: 75px;
    background-color: rgb(30, 30, 30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.brand{
    color: #ff4500;
}

.navlink{
    color: #ffffff;
    text-transform: uppercase;
}

.header-btn .joinus-btn{
    background-color: #ff4500;
    color: #ffffff;
}