@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-button{
  display: none;
}

body::-webkit-scrollbar-thumb{
  background-color: orangered;
}

body::-webkit-scrollbar-track{
  background-color: rgb(253, 253, 253);
}




.container {
  width: 80%;
  margin: 1rem 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


